<html>
<head>
    {% load staticfiles %}
    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        .navbar { border-radius:0; }
    </style>

    <!-- JS (load angular, ui-router, and our custom js file) -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <!-- Bootstrap resources -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <!-- Restangular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.js"></script>
    <!-- Autofill for authentication pages -->
    <script src="//cdn.rawgit.com/tbosch/autofill-event/v1.0.0/src/autofill-event.js"></script>
   <!-- Custom js -->
   
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'js/stamphub/images.js' %}"></script>
    <script src="{% static 'js/stamphub/plates.js' %}"></script>
    <script src="{% static 'js/stamphub/collections.js' %}"></script>
    <script src="{% static 'js/stamphub/brands.js' %}"></script>
    <script src="{% static 'js/stamphub/common.js' %}"></script>

    <script src="{% static 'js/subscribers/controllers.js' %}"></script>
    <script src="{% static 'js/subscribers/authService.js' %}"></script>
    <script src="{% static 'js/subscribers/configAuth.js' %}"></script>
    <script src="{% static 'js/subscribers/validate.js' %}"></script>
    
</head>

<body ng-app="nailArtApp">
    <!-- Content injected here -->
    <div ui-view=""></div>

</body>
</html>