<div class="modal-header">
	<h3>{{ image.plate_number }}</h3>
</div>
<div class="modal-body">
	<table>
		<tr valign="top">
			<td><img ng-src="{{ image.picture_url }}" width="100" height="100"></td>
		</tr>
		<tr><b>Tags: </b><span ng-repeat="tag in tags">#{{ tag }} </span></tr>
	</table>
	</div>
<div class="modal-footer">
	<button class="btn btn-primary" data-ng-click="ok();">Ok</button>
</div>