<div class="panel-body">
	<h4>Image List</h4>
	<div class="row">
		<div class="col-xs-12">
			<label for="searchbox">Search:</label>
			<input type="text" id='searchbox' ng-model='searchtext' ng-change="search()" class="form-control" placeholder="Filter by..."/>
		</div>
	</div>

	<br>
	<div class = "panel panel-default">
		<div class="panel-body">
			<table class="table table-striped">
				<tbody>
				<tr valign="top">
					<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="image in displayedImages">
						<div class="container" style="padding-bottom:10px; padding-top:10px; border-style:double; height:130;width:130;">
							<img ng-click="showModal(image.id)" ng-src="{{ image.picture_url }}" width="100" height="100">
						</div>
					</div>
					</tr>
				</tbody>
				<tfoot>
					<!-- pagination -->
					<td colspan="6">
						<pagination 
			                items-per-page="imagesPerPage"
						    ng-model="currentPage"
						    total-items="filteredImages.length"
						    max-size="3"  
						    boundary-links="true"
						    ng-change="pageChanged()">
						</pagination>
					</td>
				</tfoot>
			</table>
		</div>
	</div>
</div>