<div class="mkt-s1">
    <div class="mkt-s1-body jumbotron container">
        <div class="row">
            <h1 class="col-md-8">NailArtDB</h1>
        </div>
        <div class="row">
            <p class="col-md-8">No more flipping through endless stacks of plates and swatches looking for the right tools! NailArtDB makes it easy to find exactly what you're looking for.</p>
        </div>
    </div>
</div>

<div class="mkt-s2 container">
    <h2 class="mkt-s2-h">What Would You Like to Search?</h2>
    <div class="mkt-s2-body">
        <div class="col-md-4 mkt-vp">

<!--                <img class="" src="/static/images/clock.png" />-->
            <a ui-sref='stamphub.image_list'><span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-image fa-inverse fa-stack-1x"></i>
            </span></a>
            <h5>StampDB</h5>
            <p>Looking for that specific image? Search our collection by brand, collection, size, type, category, and much more!</p>
        </div>
        <div class="col-md-4 mkt-vp">
            <a href="#"><span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-paint-brush fa-inverse fa-stack-1x"></i>
            </span></a>
            <h5>PolishDB</h5>
            <p>COMING SOON: Search for polishes by brand, collection, color, nail art applications, and much more.</p>
        </div>
        <div class="col-md-4 mkt-vp">
            <a href="#"><span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-hand-stop-o fa-inverse fa-stack-1x"></i>
            </span></a>
            <h5>ManiDB</h5>
            <p>COMING SOON: Need some inspiration? Search our collection of manicures from bloggers all over the world.</p>
        </div>
    </div>
</div>