<!-- NAVIGATION -->
<nav class="navbar navbar-inverse" role="navigation" ng-controller='NavCtrl'>
    <!-- {% verbatim %} -->
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">NailArtDB</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref="stamphub.image_list">Stamp-Hub</a></li>
        <li><a>{{globals.currentUser.username}}:{{globals.currentUser.userRole}}</a></li>
    </ul>
    <div ng-if="!isAuthenticated()" class="btn-group navbar-form navbar-right">
        <input type="submit" class="btn btn-default" ng-click="login()" value="login" />
        <input type="submit" class="btn btn-primary" ng-click="register()" value="register" />
    </div>
    <div ng-if="isAuthenticated()" class="navbar-form navbar-right">
        <input type="submit" class="btn btn-default" ng-click="logout()" value="logout" />
    </div>
</nav>

<!-- MAIN CONTENT -->
<div class="container">
    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
    <div ui-view></div>
</div>