<div class="panel-body">
	<div class="row">
		<div class="col-xs-6">
			<h4>Collection List</h4>
		</div>
		<div class="col-xs-6">
			<input type="submit" class="btn btn-default pull-right" ng-click="addCollection()" value="Add New Collection" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<label for="searchbox">Search:</label>
			<input type="text" id='searchbox' ng-model='searchtext' ng-change="search()" class="form-control" placeholder="Filter by..."/>
		</div>
	</div>

	<br>
	<div class = "panel panel-default">
		<div class="panel-body">
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Name</th>
						<th>Brand</th>
						<th></th>
						<th></th>
					</tr>
					<tr valign="top" ng-repeat="collection in displayedCollections">
						<td>
							<a ui-sref="stamphub.collection_detail({ id:{{collection.id}} })">{{ collection.name }}</a>
						</td>
						<td>
							<a ui-sref="stamphub.brand_detail({ id:{{collection.brand}} })">{{ collection.brand_name }}</a>
						</td>
						<td>
							<i style="color:black;" class="fa fa-lg fa-pencil pull-right" ng-click="editCollection(collection)"></i>
						</td>
						<td>
							<i style="color:black;" class="fa fa-lg fa-times pull-right" ng-click="deleteCollection(collection)"></i>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<!-- pagination -->
					<td colspan="6">
						<pagination 
			                items-per-page="collectionsPerPage"
						    ng-model="currentPage"
						    total-items="filteredCollections.length"
						    max-size="3"  
						    boundary-links="true"
						    ng-change="pageChanged()">
						</pagination>
					</td>
				</tfoot>
			</table>
		</div>
	</div>
</div>