<div class="panel-body">
	<h4>{{ collection.name }}</h4>
	<br/>
	<table>
		<tr>
			<th style="padding-right:10px;">Brand:</th>
			<td>
				<a ui-sref="stamphub.brand_detail({id:collection.brand})">
					{{ collection.brand_name }}
				</a>
			</td>
		</tr>
		<tr>
			<th style="padding-right:10px;">Plate Shape:</th>
			<td>{{ collection.plate_shape }}</td>
		</tr>
	</table>
	<br>
</div>