<div class="modal-header">
	<h3>{{title}}</h3>
	<i>Fields marked with * are required</i>
</div>
<div class="modal-body">
	<div id="collection_cru_view">
	  <form role="form" ng-submit="saveCollectionForm(collectionForm)" name="collectionForm" method="post" novalidate>
	    
	    <div class="form-group">
	      <label for="id_brand">*Brand</label>
	      <select ng-model="collection.brand" class="form-control" required id="id_brand" ng-options="brand.id as brand.name for brand in availableBrands"></select>
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.brand">{{error}}</div>

	    <div class="form-group">
	      <label for="id_name">*Name</label>
	      <input name="name" id="id_name" type="text" ng-model="collection.name" placeholder="Collection name" class="form-control" required />
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.name">{{error}}</div>

	    <div class="form-group">
	      <label for="id_notes">Notes</label>
	      <div>
	      	<textarea name="notes" id="id_notes" class="form-control" ng-model="collection.notes">
	      	</textarea>
	      </div>
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.notes">{{error}}</div>

	    <div class="form-group">
	      <label for="id_review_url">Review URL</label>
	      <input name="review_url" id="id_review_url" type="url" ng-model="collection.review_url" class="form-control" />
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.review_url">{{error}}</div>

	    <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{error}}</div>
	    <div class="alert alert-danger" ng-if="error">{{error}}</div>


	    <button type="submit" class="btn btn-success pull-right">Save</button>
	    <button ng-click="cancel()" class="btn btn-primary pull-right">Cancel</button>
	  </form>
	  <div ng-repeat="error in nonFieldErrors" class="alert alert-danger">{{error}}</div>
	</div>
</div>
<div class="modal-footer">
</div>
