<div class="modal-header">
	<h4>Login</h4>
</div>
<div class="modal-body">
	<div id="login_view">
	  <form role="form" ng-submit="login(loginForm)" name="loginForm" method="post" novalidate>
	    <div class="form-group">
	      <label for="id_username">Username</label>
	      <input name="username" id="id_username" type="text" ng-model="model.username" placeholder="Username" class="form-control" required />
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.username">{{error}}</div>
	    <div class="form-group">
	      <label for="id_password">Password</label>
	      <input name="password" id="id_password" type="password" ng-model="model.password" placeholder="Password" class="form-control" required />
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.password">{{error}}</div>
	    <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{error}}</div>
	    <div class="alert alert-danger" ng-if="error">{{error}}</div>
	    <button type="submit" class="btn btn-primary">Login</button>
	  </form>
	  <div ng-repeat="error in nonFieldErrors" class="alert alert-danger">{{error}}</div>
	</div>
</div>
<div class="modal-footer">
</div>
