<div class="modal-header">
	<h4>Register</h4>
</div>
<div class="modal-body">
	<div id="register_view">
    <div ng-if="complete == false">
        <form role="form" ng-if="authenticated != true" name="registerForm" ng-submit="register(registerForm)" method="post" novalidate>
            <div class="form-group">
                <label for="id_username">Username</label>
                <input name="username" id="id_username" class="form-control" type="text" ng-model="model.username" placeholder="Username" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.username">{{error}}</div>
            <div class="form-group">
                <label for="id_password">Password</label>
                <input name="password1" id="id_password1" class="form-control" type="password" ng-model="model.password1" placeholder="Password" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.password1">{{error}}</div>
            <div class="form-group">
                <label for="id_password">Repeat Password</label>
                <input name="password" id="id_password2" class="form-control" type="password" ng-model="model.password2" placeholder="Repeat Password" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.password2">{{error}}</div>
            <div class="form-group">
                <label for="id_email">Email</label>
                <input name="email" id="id_email" class="form-control" type="email" ng-model="model.email" placeholder="Email" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.email">{{error}}</div>
            <button ng-hide="authenticated" type="submit" class="btn btn-primary">Register</button>
        </form>
        <div ng-repeat="error in nonFieldErrors" class="alert alert-danger">{{error}}</div>
        <p ng-if="authenticated">You are already logged in!  You don't need to register.</p>
    </div>
    <div ng-if="complete == true">
        <div class="alert alert-success">Great!  You've just registered.</div>
    </div>
</div>
</div>
<div class="modal-footer">
</div>
<style type="text/css">
  .msg-error {
    color: red;
  }
</style>