<div class="modal-header">
	<h3>{{title}}</h3>
	<i>Fields marked with * are required</i>
</div>
<div class="modal-body">
	<div id="plate_cru_view">
	  <form role="form" ng-submit="savePlateForm(plateForm)" name="plateForm" method="post" novalidate>
	    
	    <div class="form-group">
	      <label for="id_brand">*Brand</label>
	      <select ng-model="plate.brand" class="form-control" required id="id_brand" ng-options="brand.id as brand.name for brand in availableBrands" ng-change="brandSelected()"></select>
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.brand">{{error}}</div>

	    <div class="form-group">
	      <label for="id_brand">*Collection</label>
	      <select ng-model="plate.collection" class="form-control" required id="id_collection" ng-options="collection.id as collection.name for collection in availableCollections"></select>
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.collection">{{error}}</div>

	    <div class="form-group">
	      <label for="id_name">*Number</label>
	      <input name="number" id="id_number" type="text" ng-model="plate.number" placeholder="Plate number" class="form-control" required />
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.number">{{error}}</div>

	    <div class="form-group">
	      <label for="id_picture">*Picture</label>
	      <div>
	      	<img ng-show="plate.picture" ng-src="{{ plate.picture }}" width="200" height="200">
	      	<input onchange="angular.element(this).scope().fileSelected(this.files)" ng-model="plate.picture" name="picture" id="id_picture" class="form-control" type="file" file-model="platePhoto" />
	      </div>
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.picture">{{error}}</div>

	    <div class="form-group">
	      <label for="id_picture_credit">Picture Credit</label>
	      <input name="picture_credit" id="id_picture_credit" type="text" ng-model="plate.picture_credit" class="form-control" />
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.picture_credit">{{error}}</div>

	    <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{error}}</div>
	    <div class="alert alert-danger" ng-if="error">{{error}}</div>


	    <button type="submit" class="btn btn-success pull-right">Save</button>
	    <button ng-click="cancel()" class="btn btn-primary pull-right">Cancel</button>
	  </form>
	  <div ng-repeat="error in nonFieldErrors" class="alert alert-danger">{{error}}</div>
	</div>
</div>
<div class="modal-footer">
</div>
