<div class="panel-body">
	<div class="row">
		<div class="col-xs-6">
			<h4>Plate List</h4>
		</div>
		<div class="col-xs-6">
			<input type="submit" class="btn btn-default pull-right" ng-click="addPlate()" value="Add New Plate" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<label for="searchbox">Search:</label>
			<input type="text" id='searchbox' ng-model='searchtext.number' ng-change="search()" class="form-control" placeholder="Filter by..."/>
		</div>
	</div>

	<br>
	<div class="panel panel-default">
		<div class="panel-body">
			<table class="table table-striped">
				<tbody>
				<tr valign="top">
					<div class="col-lg-4 col-md-6" ng-repeat="plate in displayedPlates">
						<div class="container" style="border-style:double; height:230;width:230;">
							<div class="row" style="padding-left:10px; padding-top:10px;">
								<a ui-sref="stamphub.plate_detail({id:{{plate.id}}})">
									<img ng-src="{{ plate.picture_url }}" width="200" height="200">
								</a>
							</div>
						</div>
					</div>
					</tr>
				</tbody>
				<tfoot>
					<!-- pagination -->
					<td colspan="6">
						<pagination 
			                items-per-page="platesPerPage"
						    ng-model="currentPage"
						    total-items="filteredPlates.length"
						    max-size="3"  
						    boundary-links="true"
						    ng-change="pageChanged()">
						</pagination>
					</td>
				</tfoot>
			</table>
		</div>
	</div>
</div>