<div class="panel-body">
	<div class="row">
		<div class="col-xs-10">
			<h4>{{ plate.number }}</h4>
		</div>
		<div class="col-xs-1">
			<i style="color:black;" class="fa fa-lg fa-pencil pull-right" ng-click="editPlate(plate)"></i>
		</div>
		<div class="col-xs-1">
			<i style="color:black;" class="fa fa-lg fa-times pull-right" ng-click="deletePlate(plate)"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img ng-src="{{ plate.picture }}" width="200" height="200">
		</div>
		<div class="col-md-6">
			<table>
				<tr>
					<th style="padding-right:10px;">Brand:</th>
					<td>
						<a ui-sref="stamphub.brand_detail({ id:plate.brand })">
							{{ plate.brand_name }}
						</a>
					</td>
				</tr>
				<tr>
					<th style="padding-right:10px;">Collection:</th>
					<td>
						<a ui-sref="stamphub.collection_detail({ id:plate.collection })">
							{{ plate.collection_name }}
						</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<br>
</div>