<div class="modal-header">
	<h3>{{title}}</h3>
</div>
<div class="modal-body">
	<div id="delete_view">
	    Are you sure you want to delete <b>{{objName}}</b>?
	    <br>
	    <button ng-click="deleteObject(object)" class="btn btn-success pull-right">Delete</button>
	    <button ng-click="cancel()" class="btn btn-primary pull-right">Cancel</button>
	  <div ng-repeat="error in errors" class="alert alert-danger">{{error}}</div>
	</div>
</div>
<div class="modal-footer">
</div>
