<div class="container">

	<nav class="navbar navbar-default" role="navigation">
	    <div class="navbar-header">
	        <a class="navbar-brand" ui-sref="stamphub.image_list">Stamp-Hub</a>
	    </div>
	    <ul class="nav navbar-nav">
	        <li ui-sref-active="active"><a ui-sref="stamphub.image_list">Images</a></li>
			<li ui-sref-active="active"><a ui-sref="stamphub.plate_list">Plates</a></li>
			<li ui-sref-active="active"><a ui-sref="stamphub.collection_list">Collections</a></li>
			<li ui-sref-active="active"><a ui-sref="stamphub.brand_list">Brands</a></li>
	    </ul>
    </nav>

	<div class="row">
		<div class="col-sm-8" id="content-container">
			<div class="panel panel-default">
				<div ui-view="content"></div>
				<!-- Optional subcontent -->
				<div ui-view='subcontent'></div>
			</div>
		</div>
		<div  class="col-sm-4" id="sidebar-container">
			<div class="panel panel-default" ui-view="sidebar"></div>
		</div>
	</div>
</div>