<div class="panel-body">
	<h4>{{ brand.name }}</h4>
	<br/>
	<table>
		<tr>
			<th style="padding-right:10px;">Number of Collections:</th>
			<td>{{ brand.num_collections }}</td>
		</tr>
		<tr>
			<th style="padding-right:10px;">Website:</th>
			<td>{{ brand.website }}</td>
		</tr>
	</table>
	<br>
</div>