<div class="panel-body">
	<div class="row">
		<div class="col-xs-6">
			<h4>Brand List</h4>
		</div>
		<div class="col-xs-6">
			<input type="submit" class="btn btn-default pull-right" ng-click="addBrand()" value="Add New Brand" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<label for="searchbox">Search:</label>
			<input type="text" id='searchbox' ng-model='searchtext.name' ng-change="search()" class="form-control" placeholder="Filter by..."/>
		</div>
	</div>

	<br>
	<div class = "panel panel-default">
		<div class="panel-body">
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Brand Name</th>
						<th>Number of Collections</th>
						<th></th>
						<th></th>
					</tr>
					<tr valign="top" ng-repeat="brand in displayedBrands">
						<th><a ui-sref="stamphub.brand_detail({ id:{{brand.id}} })">{{ brand.name }}</a></th>
						<td>{{ brand.num_collections }}</td>
						<td>
							<i style="color:black;" class="fa fa-lg fa-pencil pull-right" ng-click="editBrand(brand)"></i>
						</td>
						<td>
							<i style="color:black;" class="fa fa-lg fa-times pull-right" ng-click="deleteBrand(brand)"></i>
						</td>

					</tr>
				</tbody>
				<tfoot>
					<!-- pagination -->
					<td colspan="6">
						<pagination 
			                items-per-page="brandsPerPage"
						    ng-model="currentPage"
						    total-items="filteredBrands.length"
						    max-size="3"  
						    boundary-links="true"
						    ng-change="pageChanged()">
						</pagination>
					</td>
				</tfoot>
			</table>
		</div>
	</div>
</div>