<div class="modal-header">
	<h3>{{title}}</h3>
	<i>Fields marked with * are required</i>
</div>
<div class="modal-body">
	<div id="brand_cru_view">
	  <form role="form" ng-submit="saveBrandForm(brandForm)" name="brandForm" method="post" novalidate>
	    

	    <div class="form-group">
	      <label for="id_name">*Name</label>
	      <input name="name" id="id_name" type="text" ng-model="brand.name" placeholder="Brand name" class="form-control" required />
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.name">{{error}}</div>

	    <div class="form-group horizontal-checkbox">
	      <label for="id_preferred">Preferred Brand</label>
	      <div>
	      <input name="preferred" id="id_preferred" type="checkbox" ng-model="brand.preferred" />
	      </div>
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.preferred">{{error}}</div>

	    <div class="form-group">
	      <label for="id_website">Website</label>
	      <input name="website" id="id_website" type="url" ng-model="brand.website" class="form-control" />
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.website">{{error}}</div>

	    <div class="form-group">
	      <label for="id_creator">Creator</label>
	      <input name="creator" id="id_creator" type="text" ng-model="brand.creator" class="form-control" />
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.creator">{{error}}</div>
	    

	    <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{error}}</div>
	    <div class="alert alert-danger" ng-if="error">{{error}}</div>


	    <button type="submit" class="btn btn-success pull-right">Save</button>
	    <button ng-click="cancel()" class="btn btn-primary pull-right">Cancel</button>
	  </form>
	  <div ng-repeat="error in nonFieldErrors" class="alert alert-danger">{{error}}</div>
	</div>
</div>
<div class="modal-footer">
</div>